
# just in case
.idea/
.vscode/
.opencode/
.mimocode/

# os files
.DS_Store



# compiled game
floppy_bird.love
# web edition folders
floppy_bird_WB/
mobile_compatibilty_build/
dist/
builds/
Web/
web/
